---
import "@fontsource-variable/inter";
import Schedule from "../components/schedule.astro";
import Submission from "../components/submission.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import About from "../components/about.astro";
import Contact from "../components/contact.astro";
import Splash from "../components/splash.astro";
import "../styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description = "Join us for a sweet celebration of comedy films in Pittsburgh!";
---
<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark"> <!-- Force dark mode -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Cookie Table Film Festival</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Cookie Table Film Festival" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <About />
      <Schedule />
      <Submission />
      <Contact />
    </div>
    <Footer />
  </body>
</html>
